body {
    margin: 0;
    padding: 0;
    background: url('fondo2.png') repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 433px;
}

.section1 {
    height: 18px;
    background: rgba(84, 84, 84, 0.8); /* Color del trazo con 80% de opacidad */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
}

.section1 img {
    width: auto;
    height: 100%;
    pointer-events: none; /* Evita que la imagen sea interactiva */
}

.section2 {
    width: 433px;
    height: 137px;
    background: url('SECTION2.png') no-repeat center/cover;
    box-shadow: 0px 0px 40px 38% black;
    filter: drop-shadow(0px 0px 6px black); /* Sombra paralela */
    pointer-events: none; /* Evita que la imagen sea interactiva */
    user-select: none; /* Evita la selección del contenido */
}

.rectangle {
    position: absolute;
}
