/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('fondo2.png'); /* Fondo estilo mosaico */
    background-repeat: repeat; /* Repite la imagen en mosaico */
    overflow: hidden;
}

/* Estilo del rectángulo principal */
.rectangle {
    width: 433px;
    height: 382px;
    background-color: transparent; /* Fondo del rectángulo completamente transparente */
    border-radius: 4px;
    border: 1px solid #545454; /* Trazo interior */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /* Evita que el contenido se desborde de las esquinas redondeadas */
}

/* Estilo de la barra superior (primera sección) */
.title-bar {
    height: 18px;
    background-color: rgba(0, 0, 0, 0.8); /* Color negro con opacidad del 80% */
    border-bottom: 1px solid #545454; /* Trazo interior inferior */
    width: calc(100% + 2px); /* Asegura que cubra completamente el ancho, incluyendo los bordes redondeados */
    position: relative;
    cursor: move; /* Cambia el cursor a "mover" */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de la imagen en la barra superior */
.no-drag {
    user-drag: none; 
    user-select: none;
    pointer-events: none; /* Evita que la imagen sea interactiva */
}
